main.browse{
    background-color: burlywood;
    display: none;
    grid-row: 2;
    grid-column: 1;
}

main.browse > header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 3em;
    font-size: 24px;
}

main.browse > header > div.search{
    display: flex;
}

main.browse > header > div.search > input{
    height: 60%;
    margin: auto 0;
}

main.browse > section.package-list{
    display: none;
    flex-direction: column;
}

main.browse > section.package-list > section.package{
    margin: 0.5em 3em;
    border: black solid 2px;
    display: flex;
    flex-wrap: wrap;
    padding: 1em 3em;
    justify-content: space-between;
}

main.browse > section.package-list > section.package > *{
    margin: 0.5em 0;
    font-size: 1.2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main.browse > section.package-list > section.package > * > *{
    margin: 0.5em 0;
}

main.browse > section.package-list > section.package > div.expandable{
    display: none;
}