main.browse{
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    grid-row: 2;
    grid-column: 1;
}

main.browse > header > form.search{
    display: flex;
    font-size: 24px;
    height: 3em;
    line-height: 3em;
}

main.browse > header > form.search > *{
    height: 3em;
    margin: auto 0.5em;
}

/* main.browse > header > form.search > p{
    margin-left: 2em;
}

main.browse > header > form.search > input.search-field{
    margin-left: 3em;
}

main.browse > header > form.search > input.search-confirm{
    margin-right: 3em;
} */

main.browse > header > form.search > input.search-field{
    flex-grow: 1;
}

/* main.browse > header.search > select{
    height: 3em;
    margin: auto 0;
}

main.browse > header.search > input{
    height: 3em;
    margin: auto 0;
} */

main.browse > section.package-list{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

main.browse > section.package-list > section.package{
    margin: 0.5em;
    border: black solid 2px;
    display: flex;
    flex-wrap: wrap;
    padding: 1em 3em;
    justify-content: space-between;
}

main.browse > section.package-list > section.package > *{
    margin: 0.5em 0;
    font-size: 1.2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main.browse > section.package-list > section.package > * > *{
    margin: 0.5em 0;
}

main.browse > section.package-list > section.package > div.expandable{
    display: none;
}