section.row-image{
    background-image: url('../materials/poza-home.jpg');
    background-size : cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 25em;
    grid-row:  2;
    grid-column: 1;
    color: white;
    text-align: center;

}
section.row-image > h3 {
    color:white;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 0.3em;
    font-size: 2.7em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

section.row-image > p {
    color:white;
    text-align: center;
    width:30em;
    font-size: 1.1em;
    margin:auto;
    margin-bottom: 0.8em;

}

section.row-image >button  {
    background-color:#F88466; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section.row-distro{
    background-color: white;
    grid-column: 1/4;
    grid-row : 3;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}
section.row-distro > h3{
    grid-row: 1;
    grid-column: 1/4;
    text-align: center;
    top: -1.5em;
    position: relative;
   
}
section.row-distro > h3 > span{
    color: white;
    background-color: #448CAB;
    padding: 5px;
    border-radius: 20px;
}
section.row-distro > section.distro-list{
    grid-row : 2;
    grid-column: 1/4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

section.distro-list > section.distro-item{
    align-items: center;
    text-align: center;
    width: 30em;
    /* width:30%; */
}

section.distro-item > .distro-logo > img{
    height: 10em;
    width: 10em;
}
section.distro-item > h4{
    /* font-weight: bold; */
}
section.distro-item > .distro-text{
    margin: 0 auto;
}

.row-team
{
    background-color: #2F3F4F;
    grid-row: 4;
    color: #F88466;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.row-team >.team-title
{
    grid-column: 2;
    
    justify-self: center;
}
.row-team >.team-title > h4
{
    margin-left: 3em;
    font-size:2em;
}
.row-team > .team-content
{
    grid-row: 2;
    grid-column:1/4;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.row-team > .team-content > *{
    margin: 6px;
}
.team-content-photos
{
    text-align: center;
    display: inline;

}
.team-content-photos img{
    width: 20em;
    height: auto;
}

.team-content-photos-item
{
    padding: 20px;
    padding-bottom: 0px;
    display: inline-block;
    background-color: white;
}
.team-content-photos-item > p
{
    font-weight: bold;
    font-size: 1.25em;
}
