section.row-image{
    background-image: url('../materials/poza-home.jpg');
    background-size : cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 30em;
    grid-row:  2;
    grid-column: 1;
    color: white;
}

section.row-distro{
    background-color: white;
    grid-column: 1/4;
    grid-row : 3;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}
section.row-distro > h3{
    grid-row: 1;
    grid-column: 1/4;
    text-align: center;
    top: -1.5em;
    position: relative;
   
}
section.row-distro > h3 > span{
    color: white;
    background-color: #448CAB;
    padding: 5px;
    border-radius: 20px;
}
section.row-distro > section.distro-list{
    grid-row : 2;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

section.distro-list > section.distro-item{
    align-items: center;
    text-align: center;
}

section.distro-item > .distro-logo > img{
    height: 10em;
    width: 10em;
}
section.distro-item > h4{
    /* font-weight: bold; */
}
section.distro-item > .distro-text{
    width:50%;
    margin: 0 auto;
}

.row-team
{
    background-color: #2F3F4F;
    grid-row: 4;
    color: #F88466;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.row-team >.team-title
{
    grid-column: 2;
    font-size: 1.5em;
    justify-self: center;
}
.row-team > .team-content
{
    grid-row: 2;
    grid-column:1/4;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}
.team-content-photos
{
    text-align: center;
    display: inline;

}
.team-content-photos img{
    width: 300px;
    height: auto;
}
.team-content-photos:nth-child(1)
{
    grid-column : 1;
}
.team-content-photos:nth-child(2)
{
    grid-column : 2;
}
.team-content-photos:nth-child(3)
{
    grid-column : 3;
}

#test
{
    padding: 20px;
    padding-bottom: 0px;
    display: inline-block;
    background-color: white;
    /* width: 75%; */

}