main.browse{
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
}

main.browse > header{
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: #555555 solid 1px;
}

main.browse > header > form.search{
    display: flex;
}

main.browse > header > form.search > *{
    display: block;
    height: 40px;
    margin: auto 10px;
    font-size: 18px;
}

main.browse > header > form.search > input.search-field, select, input.search-confirm{
    box-shadow: 1px 1px 1px #bbbbbb, -1px -1px 1px #bbbbbb;
}

main.browse > header > form.search > select:hover, input.search-confirm:hover{
    cursor: pointer;
}

main.browse > header > form.search > input.search-field{
    height: 34px;
    flex-grow: 1;
}

main.browse > section.package-list{
    flex-direction: row;
    flex-wrap: wrap;
    /* display: flex; */
}

main.browse > section.package-list > section.package{
    margin: 0.5em;
    border-radius: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    padding: 1em 3em;
    justify-content: space-between;
    box-shadow: 1px 1px 3px #999999, -1px -1px 3px #999999;
}

main.browse > section.package-list > section.package:hover{
    background-color: #f0f0f0;
    cursor: pointer;
}

main.browse > section.package-list > section.package > *{
    margin: 10px 0;
    font-size: 1.2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main.browse > section.package-list > section.package > * > *{
    margin: 10px 0;
}

main.browse > section.package-list > section.package > div.expandable{
    display: none;
}

section.package-list > section.package > div.expandable > button{
    background-color: green;
}

section.package-list > section.package > div.expandable > button.selected{
    background-color: red;
}

main.browse > button{
    display: none;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: auto;
    padding: 4px;
    width: 100px;
    border: #F88466 solid 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #F88466, -1px -1px 3px #F88466;
    background-color: #F88466;
}

main.browse > button:hover{
    cursor: pointer;
}

@media screen and (max-width: 600px){
    main.browse > header > form.search{
        flex-wrap: wrap;
    }

    main.browse > header > form.search > *{
        margin: 5px 0;
    }

    main.browse > header > form.search > input.search-field{
        width: 100%;
    }
}